@font-face {
    font-family: 'ThraexSans';
    src: url('./assets/ThraexSansRegular-v1000.ttf');
}

:root {
    --red1: #D24931;
    --red2: #A03725;
    --yellow1: #F0F66E;
    --yellow2: #cdc15a;
    --white1: #fbfff8;
    --white2: #F0F8EA;
    --green: #A8C686;
}

* {
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: black;
    color: var(--white2);
}

body,html {
    background-color: var(--white2);
}

body {
    padding: 0 3rem;
}

.pokelatin {
    font-family: 'ThraexSans';
}

.monospace {
    font-family: 'Courier New', Courier, monospace !important;
}


/* main */
.background-layout {
    height: 100vh;
    background-color: var(--white1);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    background-color: var(--white1);
    padding: 2rem 3rem;
}

h1 {
    text-align: center;
    background: linear-gradient(to bottom, var(--red2), var(--red1));
    color: var(--white2);
    padding: 1rem;
}

#welcome {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    border: 1px solid var(--red1);
    padding: 1rem;
    box-shadow: 0 0.5rem var(--red2);
    background-color: white;
}

.monospace {
    word-break: break-all;
}

/* FORM */

.form-wrapper {
    display: flex;
}

form {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-button-group {
    display: flex;
}

input {
    width: 100%;
}

.input-button-group > input {
    flex-grow: 3;
}

.input-button-group > button {
    flex-grow: 1;
}

.input-group input,
.input-group button {
    padding: 0.5rem;
}

.input-group input,
.input-group button {
    border: 1px solid var(--red2);
    box-shadow: 0.5rem 0.5rem var(--red2);
}

.input-group input:focus {
    outline: none;
    background-color: var(--yellow1);
}

.input-group button {
    background: linear-gradient(to bottom, var(--red2), var(--red1));
    color: var(--white1);
    font-weight: bold;
}

.input-group button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, var(--red2), var(--red2));
}

@media screen and (max-width: 720px) {
    body {
        padding: 0;
    }

    h1 {
        font-size: clamp(1rem,2rem,5vw);
    }

    form {
        grid-template-columns: 1fr;
    }
}

/* TABLE */

.table-wrapper {
    border: 2px solid var(--red2);
    max-height: 24rem;
    overflow-x: auto;
}

#pokelatin-table {
    background-color: white;
}

.table-wrapper table {
    width: 100%;
}

th {
    background: linear-gradient(to bottom, var(--yellow2), var(--yellow1));
    position: sticky;
    top: 0;
}

th,td {
    padding: 0.5rem;
}

table,th,td {
    border-style: solid;
    border-width: 1px 0;
    border-color: black;
    border-collapse: collapse;
}

#pokelatin-table th:nth-child(1) {
    width: 20%;
}

#pokelatin-table th:nth-child(2) {
    width: 20%;
}

#pokelatin-table th:nth-child(3) {
    width: 20%;
}

#pokelatin-table th:nth-child(4) {
    width: 30%;
}

#pokelatin-table th:nth-child(5) {
    width: 10%;
}

.hide {
    display: none;
}
