@font-face {
    font-family: 'ThraexSans';
    src: url('./assets/ThraexSansRegular-v1000.ttf');
}

:root {
    --red1: #D24931;
    --red2: #A03725;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

.pokelatin {
    font-family: 'ThraexSans';
}

.monospace {
    font-family: 'Courier New', Courier, monospace !important;
}

header {
    width: 100%;
}

#header {
    background-color: red;
    padding: 1rem;
    color: white;
}

#header > span {
    font-weight: bold;
    font-size: 1rem;
}

.table-wrapper {
    overflow-x: auto;
    height: 420px;
    overflow-y: auto;
    margin: 0 3rem;
}

#welcome {
    margin: 2rem 3rem;
    border: 1px solid red;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem darkred;
}

main {
    width: calc(100% - 8rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: white;
    padding: 0 0 5rem 0;
    margin: 0 4rem;
}

h1 {
    background: linear-gradient(to bottom,var(--red2),var(--red1));
    padding: 1rem;
    color: white;
    box-shadow: 0 0.2rem var(--red2);
}

table {
    width: 100%;
    position: relative;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
}

th {
    border: 1px solid black;
    background-color: yellow;
    text-align: left;
    position: sticky;
    top: 0;
}

#translation-form-wrapper {
    margin: 0 3rem;
}

#translation-form {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(480px,1fr));
    gap: 1rem;
    width: 100%;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.input-group > div {
    width: 100%;
    display: flex;
}

.input-group button {
    border: 0;
    background: linear-gradient(to bottom,var(--red2),var(--red1));
    flex-grow: 1;
    transition-duration: 0.2s;
}

.input-group button span {
    font-size: 1rem;
    color: white;
}

.input-group button:hover {
    background: var(--red2);
    background-color: var(--red2);
    transition-duration: 0.2s;
    cursor: pointer;
}

.input-group input {
    padding: 1rem;
    flex-grow: 3;
}

.hide {
    display: none;
}

@media screen and (max-width: 1024px) {
    main {
        margin: 0;
        width: 100%;
    }

    #translation-form {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
        gap: 1rem;
        width: 100%;
    }
}